@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  margin: 0px;
  padding: 0px;
}
*{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.TheMainImage{
  border-radius: 50%;
}
.TheMainImage{
  width: 80px;
}
.TheProfileInfo{
  display: inline-flex;
  gap: 30px ;
  align-items: center;
  /* border: 1px solid black; */
  margin-top: 20px;
  /* width: auto; */


}
.MotiTitle{
  color: rgb(206, 206, 206);
  font-size: 18px;
}
.TheUserNameTitle,.MotiTitle{
  margin-top: 5px;
}
.TheUserNameTitle{
  margin-top: 10px;
  font-size: 24px;
}
.CintraingTheElement{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
hr{
  outline: 20px;
  border: 1.5px solid rgb(255, 255, 255);
  width: 80%;
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: rgb(255, 255, 255);
}
.TheSideBarBarnt{
  padding: 10px;
  padding-top: 20px;
  background-color: white;
}
*{
  /* border: 1px solid black; */
}
.TheIconOfTheUl{
  width: 28px;
  /* background-color: red; */
  filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(196deg) brightness(102%) contrast(105%);
}
.TheTitleWithIcon{
  display: flex;
  align-items: center;
  gap: 20px;
}
.TheTitleofUl{
  font-size: 20px;
  margin: 0px;
  color: white;
}
ul{
  margin-left: 29px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 17px;
  /* border: 1px solid black; */
  /* width: 100%; */
  margin-top: 15px;

}
.TheUiBody{
  color: rgb(85, 85, 85);
  /* border: 1px solid; */
  margin: 60px 0px;
}
.TheUiBody *{
  user-select: none;
}
.C1{
  list-style-image: url("image's/The bink Ball.svg");
}
.C2{
  list-style-image: url("image's/The blue Ball.svg");
}
.C3{
  list-style-image: url("image's/The yellow Ball.svg");
}
.C4{
  list-style-image: url("image's/The gray Ball.svg");
  transition: background-color .3s linear;
  transition: all 1s linear;
  transition: border .303s linear;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}
.C5{
  list-style-image: url("image's/The gray Ball.svg");
}
.C4:hover{
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.226);
}
.C4:active{
  background-color: rgba(0, 0, 0, 0.288);
}
.TheDots{
  letter-spacing: 3px;
}
.graytion{
  color: rgba(0, 0, 0, 0.479);
  font-weight: bold;
}
li{
  padding-left: 5px;
  position: relative;
}
.TheTitleOfli{
  margin: 0px;
  position: absolute;
  color: white;
}
.TheCi{
  position: relative;
  right: 20px;
}
.modal-body{
  display: flex;
  gap: 15px;
}
.TheSelect{
  width: 40%;
}
option{
  padding: 10px;
  font-size: 15px ;
}
.TheRoot{
  display: grid;
  grid-template-columns: 25% 1fr;
}
.TheRoot *{
  /* border: 1px solid black; */
}
.TheMainPage{
  background-color: #222222;
  color: white;
  height: 103%;
  width: 100%;
  border-radius:  20px;
  padding: 10px;
}
.TheMainPageParnt{
  width: 100%;
  padding: 20px;
}
.TheSideBarBarnt , .TheMainPageParnt{
  background-color: #1d1b1c;
  color: white;
}
.TheTxtParntDiv{
  margin-top: 15px;
  margin-left: 20px;
  letter-spacing: 1px;
}
.TheMotiHeaderTitle{
  font-size: 23px;
  opacity: 0.89;
}
.TheDic{
  font-weight: bold;
  font-size: 25px;
}
.TheMainInputBody{
  margin-top: 25px;
  text-align: center;
}
.TheBallSize{
  width: 17px;
  cursor: pointer;
}
.TheMainInputBody *{
  /* border: 1px solid red; */
}
.ThePartOFIcons{
  display: flex;
  gap: 4px;
}
.TheMainInputBody{
  background-color: white;
}
.TheIconOfSend{
  width: 23px;
}
.TheRowOFTODOLIST{
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.TheMainInput{
  width: 100%;
  border: none;
  font-size: 17px;
  padding: 10px;
  margin: 0px 3px;
}
.TheMainInput:focus{
  outline: none;
}
.TheMainInputBody{
  padding: 6px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto 7fr 1fr;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}
.TheMainInputBodyEdit{
  width: 90%;
  display: grid;
  grid-template-columns: auto 7fr 1fr;
}
.TheStyleOfTitl{
  color: black;
  text-align: start;
}
.TheTime{
  color: black;
  font-size: 16px;
}
.TheMainInputElementEdit{
  display: flex;
  margin: 0px 10px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
}
.TheTime{
  width: 130px;
  margin-bottom: 0px;
}